<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="host" value="192.168.8.100" /> <!--  localhost or ip address -->
    <add key="port" value="9090" />  <!--  avialable on system -->
    <add key="mode" value="slow" />  <!--  Either slow or fast -->
  </appSettings>
</configuration>