<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="microsoft.aspnet.cors" version="5.0.0" targetframework="net451" />
  <package id="microsoft.aspnet.signalr.core" version="2.2.3" targetframework="net451" />
  <package id="microsoft.aspnet.signalr.selfhost" version="2.2.3" targetframework="net451" />
  <package id="microsoft.owin" version="4.0.0" targetframework="net451" />
  <package id="microsoft.owin.cors" version="4.0.0" targetframework="net451" />
  <package id="microsoft.owin.diagnostics" version="2.1.0" targetframework="net451" />
  <package id="microsoft.owin.host.httplistener" version="2.1.0" targetframework="net451" />
  <package id="microsoft.owin.hosting" version="2.1.0" targetframework="net451" />
  <package id="microsoft.owin.security" version="2.1.0" targetframework="net451" />
  <package id="microsoft.owin.selfhost" version="2.1.0" targetframework="net451" />
  <package id="newtonsoft.json" version="6.0.4" targetframework="net451" />
  <package id="owin" version="1.0" targetframework="net451" />
</packages>
